Repository SAP/jenkins-library, pull requests merged in 2019-04, with the labels that each got.

#579 Don't use host port
  test/groovy/DockerExecuteOnKubernetesTest.groovy
  vars/dockerExecuteOnKubernetes.groovy
Labels: MERGE, REVIEW

#578 alpine does not support date option --universal
  test/groovy/ArtifactSetVersionTest.groovy
  vars/artifactSetVersion.groovy
Labels: MERGE, REVIEW

#613 handlePipelineStepErrors: generate docu
  documentation/docs/steps/handlePipelineStepErrors.md
  vars/handlePipelineStepErrors.groovy
Labels: documentation

#618 healthExecuteCheck: generate docu
  documentation/docs/steps/healthExecuteCheck.md
  vars/healthExecuteCheck.groovy
Labels: documentation

#622 mavenExecute: generate docu
  documentation/docs/steps/mavenExecute.md
  vars/mavenExecute.groovy
Labels: documentation

#610 durationMeasure: generate docu
  documentation/docs/steps/durationMeasure.md
  vars/durationMeasure.groovy
Labels: documentation

#626 pipelineExecute: generate docu
  documentation/docs/steps/pipelineExecute.md
  vars/pipelineExecute.groovy
Labels: documentation

#623 mtaBuild: generate docu
  documentation/docs/steps/mtaBuild.md
  vars/mtaBuild.groovy
Labels: documentation

#637 fix unstable docs build
  documentation/docs/steps/handlePipelineStepErrors.md
  vars/handlePipelineStepErrors.groovy
Labels: documentation

#577 Add a guide on authenticating UIVeri5 tests
  documentation/docs/steps/uiVeri5ExecuteTests.md
Labels: REVIEW

#605 batsExecuteTests: generate docu
  documentation/docs/steps/batsExecuteTests.md
  vars/batsExecuteTests.groovy
Labels: documentation

#634 prepareDefaultValues: generate docu
  documentation/docs/steps/prepareDefaultValues.md
  vars/prepareDefaultValues.groovy
Labels: documentation

#609 containerExecuteStructureTests: generate docu
  documentation/docs/steps/containerExecuteStructureTests.md
  vars/containerExecuteStructureTests.groovy
Labels: documentation

#611 gaugeExecuteTests: generate docu
  documentation/docs/steps/gaugeExecuteTests.md
  vars/gaugeExecuteTests.groovy
  vars/prepareDefaultValues.groovy
Labels: documentation

#627 pipelineRestartSteps: generate docu
  documentation/docs/steps/pipelineRestartSteps.md
  vars/pipelineRestartSteps.groovy
Labels: documentation

#635 setupCommonPipelineEnvironment: generate docu
  documentation/docs/steps/setupCommonPipelineEnvironment.md
  vars/setupCommonPipelineEnvironment.groovy
Labels: documentation

#636 testsPublishResults: generate docu
  documentation/docs/steps/testsPublishResults.md
  vars/testsPublishResults.groovy
Labels: documentation

#606 checksPublishResults: generate docu
  documentation/docs/steps/checksPublishResults.md
  vars/checksPublishResults.groovy
Labels: documentation

#603 checkChangeInDevelopment: update documentation
  vars/checkChangeInDevelopment.groovy
Labels: documentation

#604 transportRequestCreate: generate docu
  documentation/docs/steps/transportRequestCreate.md
  vars/transportRequestCreate.groovy
Labels: documentation

#526 commonPipelineEnvironment: add propertiesMap
  src/com/sap/piper/cm/StepHelpers.groovy
  test/groovy/TransportRequestCreateTest.groovy
  test/groovy/com/sap/piper/cm/StepHelpersTest.groovy
  vars/commonPipelineEnvironment.groovy
  vars/transportRequestCreate.groovy
Labels: MERGE, REVIEW

#654 Travis: fix docs generation
  .travis.yml
Labels: documentation

#601 transportRequestUploadFile: generate docu
  documentation/docs/steps/transportRequestUploadFile.md
  vars/transportRequestUploadFile.groovy
Labels: documentation

#600 transportRequestRelease: generate docu
  documentation/docs/steps/transportRequestRelease.md
  vars/transportRequestRelease.groovy
Labels: documentation

#631 neoDeploy: assert deployable exists before starting deployment.
  vars/neoDeploy.groovy
Labels: bug

#624 influxWriteData: hold data in dedicated object
  documentation/docs/steps/influxWriteData.md
  src/com/sap/piper/analytics/InfluxData.groovy
  test/groovy/DurationMeasureTest.groovy
  test/groovy/InfluxWriteDataTest.groovy
  test/groovy/com/sap/piper/analytics/InfluxDataTest.groovy
  test/groovy/util/JenkinsInfluxDataRule.groovy
  test/groovy/util/Rules.groovy
  vars/batsExecuteTests.groovy
  vars/commonPipelineEnvironment.groovy
  vars/durationMeasure.groovy
  vars/gaugeExecuteTests.groovy
  vars/handlePipelineStepErrors.groovy
  vars/influxWriteData.groovy
  vars/setupCommonPipelineEnvironment.groovy
Labels: REVIEW

#612 githubPublishRelease: generate docu
  documentation/docs/steps/githubPublishRelease.md
  vars/githubPublishRelease.groovy
Labels: documentation

#602 artifactSetVersion: generate docu
  documentation/docs/steps/artifactSetVersion.md
  vars/artifactSetVersion.groovy
Labels: documentation

#607 cloudFoundryDeploy: generate docu
  documentation/docs/steps/cloudFoundryDeploy.md
  test/groovy/CloudFoundryDeployTest.groovy
  vars/cloudFoundryDeploy.groovy
Labels: documentation

#614 Do not swallow original excpetion when we have trouble to cat the logs
  test/groovy/NeoDeployTest.groovy
  vars/neoDeploy.groovy
Labels: REVIEW, bug

#632 Avoid phantom stashes: do not write stashes back into (default) config
  vars/dockerExecuteOnKubernetes.groovy
Labels: bug

#582 add multicloud deployment step
  documentation/docs/steps/multicloudDeploy.md
  src/com/sap/piper/CloudPlatform.groovy
  src/com/sap/piper/DeploymentType.groovy
  src/com/sap/piper/Utils.groovy
  test/groovy/MulticloudDeployTest.groovy
  test/groovy/util/JenkinsMockStepRule.groovy
  test/groovy/util/JenkinsStepRule.groovy
  test/resources/deploy/pom.xml
  vars/multicloudDeploy.groovy
Labels: REVIEW, discussion

#620 influxWriteData: generate docu
  documentation/docs/steps/influxWriteData.md
  vars/influxWriteData.groovy
Labels: documentation

#625 neoDeploy: generate docu
  documentation/docs/steps/neoDeploy.md
  vars/neoDeploy.groovy
Labels: documentation

#629 pipelineStashFiles: generate docu
  documentation/docs/steps/pipelineStashFiles.md
  documentation/docs/steps/pipelineStashFilesAfterBuild.md
  documentation/docs/steps/pipelineStashFilesBeforeBuild.md
  vars/pipelineStashFiles.groovy
  vars/pipelineStashFilesAfterBuild.groovy
  vars/pipelineStashFilesBeforeBuild.groovy
Labels: documentation

#599 provide the docu metadata as json
  documentation/bin/createDocu.groovy
Labels: REVIEW
