Repository SAP/jenkins-library, pull requests merged in 2019-12, with the labels that each got.

#931 xs deploy go
  cmd/piper.go
  cmd/xsDeploy.go
  cmd/xsDeploy_generated.go
  cmd/xsDeploy_generated_test.go
  cmd/xsDeploy_test.go
  pkg/config/config.go
  pkg/piperutils/FileUtils.go
  resources/metadata/xsDeploy.yaml
Labels: go-piper

#1044 Adjust image pull policy property in metadata for xs deploy
  resources/metadata/xsDeploy.yaml
Labels: go-piper

#1033 Add http package
  pkg/http/http.go
  pkg/http/http_test.go
Labels: go-piper

#1054 [fix] Don't forget to return the error instead of only creating an error
  pkg/piperutils/FileUtils.go
Labels: bug :bug:, go-piper

#1019 Don't swallow error raised from file exists helper method
  cmd/getConfig.go
  cmd/piper.go
  cmd/xsDeploy.go
  cmd/xsDeploy_test.go
  pkg/config/config.go
  pkg/piperutils/FileUtils.go
Labels: go-piper

#1060 Credentials id better naming
  resources/metadata/xsDeploy.yaml
Labels: go-piper

#1049 Detect: Add golang implementation
  cmd/detectExecuteScan.go
  cmd/detectExecuteScan_generated.go
  cmd/detectExecuteScan_generated_test.go
  cmd/detectExecuteScan_test.go
  cmd/piper.go
  cmd/piper_test.go
  pkg/generator/helper/helper.go
  pkg/generator/helper/helper_test.go
  resources/metadata/detect.yaml
Labels: go-piper

#1058 Add XSA scenario in navigation
  documentation/mkdocs.yml
Labels: documentation

#1068 Add step githubCreatePullRequest
  cmd/githubCreatePullRequest.go
  cmd/githubCreatePullRequest_generated.go
  cmd/githubCreatePullRequest_generated_test.go
  cmd/githubCreatePullRequest_test.go
  cmd/piper.go
  resources/metadata/githubcreatepr.yaml
Labels: go-piper

#1052 chore(go): add schema for go metadata files
  resources/schemas/README.md
  resources/schemas/metadata.json
Labels: go-piper
