Repository SAP/jenkins-library, pull requests merged in 2019-09, with the labels that each got.

#868 more output from docu generator
  documentation/bin/createDocu.groovy
Labels: documentation

#867 replace absolute links inside docu with relative links for ui5-sapcp …
  documentation/docs/index.md
  documentation/docs/scenarios/CAP_Scenario.md
  documentation/docs/scenarios/changeManagement.md
  documentation/docs/scenarios/ui5-sap-cp/Readme.md
Labels: documentation

#749 Introduce xsDeploy step
  documentation/docs/steps/xsDeploy.md
  documentation/mkdocs.yml
  resources/default_pipeline_environment.yml
  test/groovy/XsDeployTest.groovy
  test/groovy/util/CommandLineMatcher.groovy
  vars/commonPipelineEnvironment.groovy
  vars/xsDeploy.groovy
Labels: REVIEW, enhancement

#880 Add TMS extension scenario
  documentation/docs/images/Detailed_Process_TMS.png
  documentation/docs/images/Interplay_TMS.png
  documentation/docs/scenarios/TMS_Extension.md
  documentation/mkdocs.yml
Labels: documentation

#860 Add buildExecute to docu index.
  documentation/mkdocs.yml
Labels: documentation

#862 Add containerPushToRegistry to docu index
  documentation/mkdocs.yml
Labels: documentation

#821 Back commonPipelineEnvironment step by shared class
  src/com/sap/piper/CommonPipelineEnvironment.groovy
  test/groovy/util/JenkinsResetDefaultCacheRule.groovy
  vars/commonPipelineEnvironment.groovy
Labels: NoScriptReference, REVIEW

#890 cm client only required in case we are not running via docker
  documentation/docs/steps/checkChangeInDevelopment.md
  documentation/docs/steps/transportRequestCreate.md
  documentation/docs/steps/transportRequestRelease.md
  documentation/docs/steps/transportRequestUploadFile.md
Labels: documentation
