Repository SAP/jenkins-library, pull requests merged in 2019-10, with the labels that each got.

#889 cm scenario: mta and node only required in case we are not running in…
  documentation/docs/scenarios/changeManagement.md
Labels: documentation

#872 Provide additional opts for cf deploy
  resources/default_pipeline_environment.yml
  test/groovy/CloudFoundryDeployTest.groovy
  vars/cloudFoundryDeploy.groovy
Labels: enhancement

#913 Remove redundancies in test (expected value repeated)
  pkg/config/defaults_test.go
Labels: go-piper

#912 defer close
  pkg/config/defaults.go
Labels: go-piper

#914 deep compare for maps
  pkg/config/config_test.go
Labels: go-piper

#905 Provide first parts for golang implementation
  .codeclimate.yml
  .editorconfig
  .gitignore
  .travis.yml
  DEVELOPMENT.md
  Dockerfile
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/defaults.go
  pkg/config/defaults_test.go
  pkg/config/errors.go
  pkg/config/errors_test.go
  pkg/config/flags.go
  pkg/config/flags_test.go
  pkg/config/stepmeta.go
  pkg/config/stepmeta_test.go
Labels: go-piper

#840 docu xsdeploy scenario
  documentation/docs/scenarios/xsa-deploy/Readme.md
  documentation/docs/scenarios/xsa-deploy/images/pipeline.jpg
  documentation/mkdocs.yml
Labels: documentation

#919 Add golang implementation for karma tests
  .editorconfig
  cmd/getConfig_test.go
  cmd/interfaces.go
  cmd/karmaExecuteTests.go
  cmd/karmaExecuteTests_generated.go
  cmd/karmaExecuteTests_generated_test.go
  cmd/karmaExecuteTests_test.go
  cmd/piper.go
  cmd/piper_test.go
  pkg/command/command.go
  pkg/command/command_test.go
  pkg/config/stepmeta_test.go
  pkg/generator/step-metadata.go
  pkg/generator/step-metadata_test.go
  pkg/generator/testdata/TestProcessMetaFiles/step_code_generated.golden
  pkg/generator/testdata/TestProcessMetaFiles/test_code_generated.golden
  resources/metadata/karma.yaml
Labels: go-piper

#921 correct typos in xsDeploy documentation
  documentation/docs/steps/xsDeploy.md
Labels: documentation

#923 remove duplicated navigation entries from docs
  documentation/mkdocs.yml
Labels: documentation

#930 Prepare testing command/shell executions
  cmd/interfaces.go
  cmd/karmaExecuteTests_test.go
  cmd/piper_test.go
Labels: go-piper

#937 Add karma command
  cmd/piper.go
Labels: go-piper

#939 Cleanup: remove commented line (leftover ?)
  pkg/command/command_test.go
Labels: go-piper

#922 Version command for piper go
  Dockerfile
  cmd/piper.go
  cmd/version.go
  cmd/version_generated.go
  cmd/version_generated_test.go
  cmd/version_test.go
  resources/metadata/version.yaml
Labels: go-piper
