Repository SAP/jenkins-library, pull requests merged in 2019-02, with the labels that each got.

#480 dockerExecute: generate docs
  documentation/docs/steps/dockerExecute.md
  vars/dockerExecute.groovy
Labels: REVIEW, documentation

#479 implement @see strategy
  documentation/bin/createDocu.groovy
Labels: documentation

#488 Adapt scenario so that it matches the template
  documentation/docs/scenarios/ui5-sap-cp/Readme.md
Labels: documentation

#485 Doc: Change title and add parameters
  documentation/docs/scenarios/changeManagement.md
  documentation/mkdocs.yml
Labels: documentation

#498 fix: table not generated by mkdocs due to wrong syntax
  documentation/docs/steps/newmanExecute.md
Labels: documentation

#487 dockerExecuteOnKubernetes: generate documentation
  documentation/bin/createDocu.groovy
  documentation/docs/steps/dockerExecuteOnKubernetes.md
  vars/dockerExecuteOnKubernetes.groovy
Labels: documentation

#493 📄 Describe Cloud Application Programming Model Scenario
  documentation/docs/scenarios/CAP_Scenario.md
Labels: documentation

#502 Add CAP Scenario
  documentation/mkdocs.yml
Labels: documentation

#338 add step slackSendNotification
  documentation/docs/steps/slackSendNotification.md
  documentation/mkdocs.yml
  resources/default_pipeline_environment.yml
  test/groovy/SlackSendNotificationTest.groovy
  vars/slackSendNotification.groovy
Labels: REVIEW

#533 prepareDefaultValues: streamline logs
  vars/prepareDefaultValues.groovy
Labels: REVIEW
