Repository SAP/jenkins-library, pull requests merged in 2021-04, with the labels that each got.

#2762 docs(whitesource): correct description
  cmd/whitesourceExecuteScan_generated.go
  resources/metadata/whitesource.yaml
Labels: REVIEW, WhiteSource

#2763 fix(karma): provide env parameters for port and host name
  cmd/karmaExecuteTests_generated.go
  resources/metadata/karma.yaml
Labels: REVIEW

#2761 Add Html output to ATC step
  cmd/abapEnvironmentRunATCCheck.go
  cmd/abapEnvironmentRunATCCheck_generated.go
  cmd/abapEnvironmentRunATCCheck_test.go
  documentation/docs/pipelines/abapEnvironment/configuration.md
  resources/metadata/abapEnvironmentRunATCCheck.yaml
Labels: ABAP, REVIEW, feature

#2774 chore(ci): add yamllint action
  .codeclimate.yml
  .github/workflows/documentation.yaml
  .github/workflows/integration-tests-pr.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/markdown.yml
  .github/workflows/release-go.yml
  .github/workflows/verify-go.yml
  .github/workflows/verify-groovy.yml
  .github/workflows/verify-yaml.yml
  .markdownlint.yml
  .yamllint.yml
  resources/metadata/abapAddonAssemblyKitCheckCVs.yaml
  resources/metadata/abapAddonAssemblyKitCheckPV.yaml
  resources/metadata/abapAddonAssemblyKitCreateTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitPublishTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitRegisterPackages.yaml
  resources/metadata/abapAddonAssemblyKitReleasePackages.yaml
  resources/metadata/abapAddonAssemblyKitReserveNextPackages.yaml
  resources/metadata/fortify.yaml
  resources/metadata/githubbranchprotection.yaml
  resources/metadata/githubcommentissue.yaml
  resources/metadata/githubcreateissue.yaml
  resources/metadata/githubcreatepr.yaml
  resources/metadata/githubrelease.yaml
  resources/metadata/githubstatus.yaml
  resources/metadata/karma.yaml
  resources/metadata/kubernetesdeploy.yaml
  resources/metadata/sonar.yaml
  resources/metadata/whitesource.yaml
Labels: REVIEW
