Repository SAP/jenkins-library, pull requests merged in 2021-12, with the labels that each got.

#3323 Generic build step
  cmd/abapEnvironmentBuild.go
  cmd/abapEnvironmentBuild_generated.go
  cmd/abapEnvironmentBuild_generated_test.go
  cmd/abapEnvironmentBuild_test.go
  cmd/metadata_generated.go
  cmd/piper.go
  documentation/docs/steps/abapEnvironmentBuild.md
  documentation/mkdocs.yml
  pkg/abap/build/bfw.go
  pkg/abap/build/bfw_mock.go
  pkg/abap/build/bfw_test.go
  pkg/abap/build/connector.go
  pkg/abap/build/mockClient.go
  resources/metadata/abapEnvironmentBuild.yaml
  test/groovy/CommonStepsTest.groovy
  vars/abapEnvironmentBuild.groovy
Labels: ABAP

#3262 Add Coverage Info to sonarscan.json
  cmd/sonarExecuteScan.go
  cmd/sonarExecuteScan_generated.go
  cmd/sonarExecuteScan_test.go
  integration/integration_api_test.go
  pkg/sonar/componentService.go
  pkg/sonar/componentService_test.go
  pkg/sonar/report.go
  pkg/sonar/report_test.go
  resources/metadata/sonarExecuteScan.yaml
Labels: Sonar

#3333 Correct Typo in Log Message
  cmd/abapAddonAssemblyKitPublishTargetVector.go
Labels: ABAP

#3340 Abap refactoring
  cmd/abapAddonAssemblyKitCheckCVs.go
  cmd/abapAddonAssemblyKitCheckCVs_test.go
  cmd/abapAddonAssemblyKitCheckPV.go
  cmd/abapAddonAssemblyKitCheckPV_test.go
  cmd/abapAddonAssemblyKitPublishTargetVector.go
  cmd/abapAddonAssemblyKitPublishTargetVector_test.go
  cmd/abapAddonAssemblyKitReleasePackages.go
  cmd/abapAddonAssemblyKitReleasePackages_generated.go
  cmd/abapAddonAssemblyKitReleasePackages_test.go
  cmd/abapAddonAssemblyKitReserveNextPackages.go
  cmd/abapAddonAssemblyKitReserveNextPackages_generated.go
  cmd/abapAddonAssemblyKitReserveNextPackages_test.go
  pkg/abap/aakaas/aakUtils.go
  pkg/abap/aakaas/aakUtils_mock.go
  pkg/abap/aakaas/package.go
  pkg/abap/build/bfw.go
  pkg/abap/build/bfw_test.go
  resources/metadata/abapAddonAssemblyKitReleasePackages.yaml
  resources/metadata/abapAddonAssemblyKitReserveNextPackages.yaml
Labels: ABAP

#3351 fix(hadolint): change docker image
  cmd/hadolintExecute_generated.go
  resources/metadata/hadolintExecute.yaml
Labels: Vault

#3256 Whitesource Docker scan : use the project name as the tar file path
  cmd/containerSaveImage.go
  cmd/containerSaveImage_test.go
  cmd/whitesourceExecuteScan.go
Labels: WhiteSource

#3302 Add html processing to AUnit stage/step
  cmd/abapEnvironmentRunATCCheck_generated.go
  cmd/abapEnvironmentRunAUnitTest.go
  cmd/abapEnvironmentRunAUnitTest_generated.go
  cmd/abapEnvironmentRunAUnitTest_test.go
  documentation/docs/pipelines/abapEnvironment/extensibility.md
  resources/metadata/abapEnvironmentRunATCCheck.yaml
  resources/metadata/abapEnvironmentRunAUnitTest.yaml
Labels: REVIEW, ABAP

#3353 feat(hadolint): allow config secret from vault
  cmd/hadolintExecute_generated.go
  resources/metadata/hadolintExecute.yaml
Labels: Vault

#3358 fix(sonar): correct VaultSecretName
  cmd/sonarExecuteScan_generated.go
  resources/metadata/sonarExecuteScan.yaml
Labels: Vault, Sonar

#3312 feat(sonar): reuse existing TLS truststore
  cmd/mavenBuild.go
  cmd/sonarExecuteScan.go
  pkg/java/keytool.go
  pkg/java/keytool_test.go
Labels: Sonar

#3376 ABAP environment: add tag support
  cmd/abapEnvironmentCloneGitRepo.go
  cmd/abapEnvironmentCloneGitRepo_test.go
  cmd/abapEnvironmentPullGitRepo.go
  cmd/abapEnvironmentPullGitRepo_test.go
  documentation/docs/pipelines/abapEnvironment/stages/cloneRepositories.md
  documentation/docs/steps/abapEnvironmentCloneGitRepo.md
  documentation/docs/steps/abapEnvironmentPullGitRepo.md
  pkg/abaputils/descriptor.go
  pkg/abaputils/descriptor_test.go
  pkg/abaputils/manageGitRepositoryUtils.go
  pkg/abaputils/manageGitRepositoryUtils_test.go
Labels: ABAP

#3380 feat(vault): general purpose credentials from vault
  documentation/docs/infrastructure/vault.md
  pkg/config/config.go
  pkg/config/vault.go
  pkg/config/vault_test.go
Labels: Vault

#3372 chore: align Vault naming
  cmd/piper.go
  cmd/shellExecute_generated.go
  cmd/vaultRotateSecretId.go
  cmd/vaultRotateSecretId_generated.go
  documentation/developer_hints/VaultResourceReference.md
  documentation/docs/infrastructure/vault.md
  pkg/config/vault.go
  pkg/config/vault_test.go
  pkg/vault/client.go
  resources/metadata/shellExecute.yaml
  resources/metadata/vaultRotateSecretId.yaml
Labels: Vault

#3273 A unit object set enhancement
  cmd/abapEnvironmentRunAUnitTest.go
  cmd/abapEnvironmentRunAUnitTest_test.go
  documentation/docs/pipelines/abapEnvironment/stages/Test.md
  documentation/docs/steps/abapEnvironmentRunAUnitTest.md
Labels: ABAP

#3364 Update abapEnvironmentAddons.md: addon --> add-on
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: documentation, ABAP

#3385 A unit
  cmd/abapEnvironmentRunAUnitTest.go
  cmd/abapEnvironmentRunAUnitTest_test.go
  documentation/docs/pipelines/abapEnvironment/stages/Test.md
  documentation/docs/steps/abapEnvironmentRunAUnitTest.md
Labels: ABAP

#3384 Change default ATC CheckVariant
  cmd/abapEnvironmentRunATCCheck.go
  cmd/abapEnvironmentRunATCCheck_test.go
  documentation/docs/steps/abapEnvironmentRunATCCheck.md
Labels: ABAP
