Repository SAP/jenkins-library, pull requests merged in 2021-06, with the labels that each got.

#2823 Golang common pipeline environment
  pkg/piperenv/environment.go
  test/groovy/CommonPipelineEnvironmentTest.groovy
  test/groovy/CommonStepsTest.groovy
  test/groovy/GithubPublishReleaseTest.groovy
  test/groovy/KubernetesDeployTest.groovy
  test/groovy/MavenExecuteStaticCodeChecksTest.groovy
  test/groovy/MavenExecuteTest.groovy
  vars/commonPipelineEnvironment.groovy
  vars/piperExecuteBin.groovy
  vars/readPipelineEnv.groovy
  vars/sonarExecuteScan.groovy
  vars/writePipelineEnv.groovy
Labels: go-piper

#2838 refactor(protecode): simplify protecode calls
  cmd/protecodeExecuteScan.go
  cmd/protecodeExecuteScan_test.go
  go.sum
  pkg/protecode/protecode.go
  pkg/protecode/protecode_test.go
Labels: Protecode

#2889 feat(protecodeExecuteScan): allow scanning a binary
  cmd/protecodeExecuteScan.go
  cmd/protecodeExecuteScan_test.go
Labels: Protecode

#2915 [WhitesourceExecuteScan] Show Vulnerabilities in Aggregated Report Only
  cmd/whitesourceExecuteScan.go
Labels: REVIEW, WhiteSource

#2910 Docu updates abap steps
  cmd/abapAddonAssemblyKitCheckCVs_generated.go
  cmd/abapAddonAssemblyKitCheckPV_generated.go
  cmd/abapAddonAssemblyKitCreateTargetVector_generated.go
  cmd/abapAddonAssemblyKitPublishTargetVector_generated.go
  cmd/abapAddonAssemblyKitRegisterPackages_generated.go
  cmd/abapAddonAssemblyKitReleasePackages_generated.go
  cmd/abapAddonAssemblyKitReserveNextPackages_generated.go
  documentation/docs/steps/abapAddonAssemblyKitCheckCVs.md
  documentation/docs/steps/abapAddonAssemblyKitCheckPV.md
  documentation/docs/steps/abapAddonAssemblyKitCreateTargetVector.md
  documentation/docs/steps/abapAddonAssemblyKitPublishTargetVector.md
  documentation/docs/steps/abapAddonAssemblyKitRegisterPackages.md
  documentation/docs/steps/abapAddonAssemblyKitReleasePackages.md
  documentation/docs/steps/abapAddonAssemblyKitReserveNextPackages.md
  resources/metadata/abapAddonAssemblyKitCheckCVs.yaml
  resources/metadata/abapAddonAssemblyKitCheckPV.yaml
  resources/metadata/abapAddonAssemblyKitCreateTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitPublishTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitRegisterPackages.yaml
  resources/metadata/abapAddonAssemblyKitReleasePackages.yaml
  resources/metadata/abapAddonAssemblyKitReserveNextPackages.yaml
Labels: ABAP, documentation

#2931 Technical Communication User
  documentation/docs/steps/abapAddonAssemblyKitCheckCVs.md
  documentation/docs/steps/abapAddonAssemblyKitCheckPV.md
  documentation/docs/steps/abapAddonAssemblyKitCreateTargetVector.md
  documentation/docs/steps/abapAddonAssemblyKitPublishTargetVector.md
  documentation/docs/steps/abapAddonAssemblyKitRegisterPackages.md
  documentation/docs/steps/abapAddonAssemblyKitReleasePackages.md
  documentation/docs/steps/abapAddonAssemblyKitReserveNextPackages.md
Labels: ABAP, documentation

#2930 mavenExecuteIntegration: add maven lifecycle goal as parameter
  cmd/mavenExecuteIntegration.go
  cmd/mavenExecuteIntegration_generated.go
  cmd/mavenExecuteIntegration_test.go
  resources/metadata/mavenExecuteIntegration.yaml
Labels: REVIEW
