Repository SAP/jenkins-library, pull requests merged in 2021-03, with the labels that each got.

#2171 fix(influx): correct data type of influx measurements
  cmd/checkmarxExecuteScan.go
  cmd/checkmarxExecuteScan_generated.go
  cmd/protecodeExecuteScan.go
  cmd/protecodeExecuteScan_generated.go
  cmd/protecodeExecuteScan_test.go
  cmd/whitesourceExecuteScan.go
  cmd/whitesourceExecuteScan_generated.go
  cmd/whitesourceExecuteScan_test.go
  pkg/checkmarx/checkmarx.go
  resources/metadata/checkmarx.yaml
  resources/metadata/protecode.yaml
  resources/metadata/whitesource.yaml
  vars/piperExecuteBin.groovy
Labels: Influx, ON HOLD, work in progress 🚧

#2678 ABAP Environment Addon: Link SAP Note with Version dependency
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: ABAP, documentation

#2661 abapEnvironmentAssemblePackages new Features
  cmd/abapEnvironmentAssembleConfirm.go
  cmd/abapEnvironmentAssembleConfirm_test.go
  cmd/abapEnvironmentAssemblePackages.go
  cmd/abapEnvironmentAssemblePackages_test.go
  pkg/abap/build/bfw.go
  pkg/abap/build/bfw_test.go
  pkg/abap/build/mockClient.go
Labels: ABAP

#2665 docs(protecode): add description how to use fetch url for docker image
  cmd/protecodeExecuteScan_generated.go
  resources/metadata/protecode.yaml
Labels: REVIEW

#2691 feat(sonar): create report for issue count
  cmd/sonarExecuteScan.go
  pkg/sonar/report.go
  pkg/sonar/report_test.go
  vars/sonarExecuteScan.groovy
Labels: REVIEW, Sonar

#2689 SAP BTP ABAP Environment: addon build with supported Languages
  cmd/abapEnvironmentAssemblePackages.go
  pkg/abaputils/abaputils_test.go
  pkg/abaputils/addonDescriptor.go
  pkg/abaputils/addonDescriptor_test.go
Labels: ABAP

#2513 feat(newmanExecute): golang implmementation for newmanExecute
  cmd/metadata_generated.go
  cmd/newmanExecute.go
  cmd/newmanExecute_generated.go
  cmd/newmanExecute_generated_test.go
  cmd/newmanExecute_test.go
  cmd/piper.go
  documentation/docs/steps/newmanExecute.md
  resources/default_pipeline_environment.yml
  resources/metadata/newmanExecute.yaml
  test/groovy/CommonStepsTest.groovy
  test/groovy/NewmanExecuteTest.groovy
  vars/newmanExecute.groovy
  vars/uiVeri5ExecuteTests.groovy
Labels: REVIEW
