Repository SAP/jenkins-library, pull requests merged in 2021-11, with the labels that each got.

#3232 abapEnvironmentAssemblePackages store file in workspace instead of cpe
  cmd/abapAddonAssemblyKitRegisterPackages.go
  cmd/abapAddonAssemblyKitRegisterPackages_test.go
  cmd/abapEnvironmentAssemblePackages.go
  pkg/abap/build/connector.go
  pkg/abaputils/abaputils.go
  pkg/abaputils/addonDescriptor.go
Labels: ABAP

#3238 Log changes
  cmd/abapEnvironmentRunAUnitTest.go
Labels: ABAP

#3247 abapAddonAssemblyKitReserveNextPackages additional checks & move stage
  cmd/abapAddonAssemblyKitReserveNextPackages.go
  cmd/abapAddonAssemblyKitReserveNextPackages_test.go
  documentation/docs/pipelines/abapEnvironment/stages/build.md
  documentation/docs/pipelines/abapEnvironment/stages/initialChecks.md
  pkg/abap/aakaas/package.go
  vars/abapEnvironmentPipelineStageBuild.groovy
  vars/abapEnvironmentPipelineStageInitialChecks.groovy
Labels: ABAP

#3250 Update abapEnvironmentAddons.md: Best Practices addon.yml
  documentation/docs/pipelines/abapEnvironment/configuration.md
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: documentation, ABAP

#3255 artifacts description
  documentation/docs/steps/abapAddonAssemblyKitCheckPV.md
  documentation/docs/steps/abapEnvironmentAssemblePackages.md
Labels: documentation, ABAP

#3120 A unit step integration
  cmd/abapEnvironmentRunAUnitTest.go
  cmd/abapEnvironmentRunAUnitTest_generated.go
  cmd/abapEnvironmentRunAUnitTest_test.go
  documentation/docs/pipelines/abapEnvironment/configuration.md
  documentation/docs/pipelines/abapEnvironment/extensibility.md
  documentation/docs/pipelines/abapEnvironment/introduction.md
  documentation/docs/pipelines/abapEnvironment/stages/ATC.md
  documentation/docs/pipelines/abapEnvironment/stages/Test.md
  documentation/docs/scenarios/abapEnvironmentAddons.md
  documentation/docs/scenarios/abapEnvironmentTest.md
  documentation/docs/steps/abapEnvironmentRunAUnitTest.md
  documentation/mkdocs.yml
  resources/com.sap.piper/pipeline/abapEnvironmentPipelineStageDefaults.yml
  resources/com.sap.piper/pipeline/abapEnvironmentPipelineStages.yml
  resources/com.sap.piper/pipeline/abapEnvironmentPipelineStashSettings.yml
  resources/metadata/abapEnvironmentRunAUnitTest.yaml
  test/groovy/templates/AbapEnvironmentPipelineStageATCTest.groovy
  test/groovy/templates/AbapEnvironmentPipelineStageAUnitTest.groovy
  test/groovy/templates/AbapEnvironmentPipelineStageCloneRepositoriesTest.groovy
  test/groovy/templates/AbapEnvironmentPipelineTest.groovy
  vars/abapEnvironmentPipeline.groovy
  vars/abapEnvironmentPipelineStageAUnit.groovy
Labels: ABAP

#3267 Add debug flag
  test/groovy/templates/AbapEnvironmentPipelineStagePostTest.groovy
  vars/abapEnvironmentPipelineStageIntegrationTests.groovy
  vars/abapEnvironmentPipelineStagePost.groovy
Labels: ABAP

#3271 abapAddonAssemblyKitPublishTargetVector polling + refactoring
  cmd/abapAddonAssemblyKitCreateTargetVector.go
  cmd/abapAddonAssemblyKitCreateTargetVector_test.go
  cmd/abapAddonAssemblyKitPublishTargetVector.go
  cmd/abapAddonAssemblyKitPublishTargetVector_generated.go
  cmd/abapAddonAssemblyKitPublishTargetVector_test.go
  pkg/abap/aakaas/targetVector.go
  pkg/abap/aakaas/targetVector_test.go
  pkg/abap/build/connector.go
  pkg/abap/build/mockClient.go
  resources/metadata/abapAddonAssemblyKitPublishTargetVector.yaml
Labels: ABAP

#3282 Require success status to publish add-on
  test/groovy/templates/AbapEnvironmentPipelineStageIntegrationTestsTest.groovy
  test/groovy/templates/AbapEnvironmentPipelineStagePublishTest.groovy
  vars/abapEnvironmentPipelineStageIntegrationTests.groovy
  vars/abapEnvironmentPipelineStagePublish.groovy
Labels: ABAP

#3274 Update abapEnvironmentAddons.md: Refine branch change description
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: ABAP

#3288 add missing spaces in error message
  cmd/abapAddonAssemblyKitReserveNextPackages.go
Labels: ABAP

#3291 abapAddonAssemblyKitCheckPV: add scope to addonDescriptorFileName
  cmd/abapAddonAssemblyKitCheckPV_generated.go
  resources/metadata/abapAddonAssemblyKitCheckPV.yaml
Labels: ABAP

#3251 Update abapEnvironmentAddons.md: Troubleshooting
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: documentation, ABAP

#3307 feat(sonar): use go-based certificate loading
  vars/sonarExecuteScan.groovy
Labels: Sonar
