Repository SAP/jenkins-library, pull requests merged in 2021-09, with the labels that each got.

#2778 protecodeExecuteScan -> adding replace binary option
  cmd/protecodeExecuteScan.go
  cmd/protecodeExecuteScan_generated.go
  cmd/protecodeExecuteScan_test.go
  pkg/protecode/protecode.go
  pkg/protecode/protecode_test.go
  resources/metadata/protecode.yaml
Labels: Protecode

#3075 AUnit step
  cmd/abapEnvironmentRunAUnitTest.go
  cmd/abapEnvironmentRunAUnitTest_generated.go
  cmd/abapEnvironmentRunAUnitTest_generated_test.go
  cmd/abapEnvironmentRunAUnitTest_test.go
  cmd/metadata_generated.go
  cmd/piper.go
  documentation/docs/steps/abapEnvironmentRunAUnitTest.md
  resources/metadata/abapEnvironmentRunAUnitTest.yaml
  test/groovy/CommonStepsTest.groovy
  vars/abapEnvironmentRunAUnitTest.groovy
Labels: REVIEW, ABAP

#3112 transportRequestUploadFile - consider changemanagement.[solman|cts|rfc].docker
  test/groovy/TransportRequestUploadFileTest.groovy
  vars/transportRequestUploadFile.groovy
Labels: bug :bug:

#3132 No such property: commonPipelineEnvironment for class: com.sap.piper.cm.StepHelpers
  src/com/sap/piper/cm/StepHelpers.groovy
  vars/transportRequestUploadFile.groovy
Labels: bug :bug:
