Repository SAP/jenkins-library, pull requests merged in 2022-01, with the labels that each got.

#3389 Add easy mode for AUnit
  .gitignore
  cmd/abapEnvironmentRunATCCheck.go
  cmd/abapEnvironmentRunATCCheck_generated.go
  cmd/abapEnvironmentRunATCCheck_test.go
  cmd/abapEnvironmentRunAUnitTest.go
  cmd/abapEnvironmentRunAUnitTest_generated.go
  cmd/abapEnvironmentRunAUnitTest_test.go
  documentation/docs/pipelines/abapEnvironment/configuration.md
  documentation/docs/pipelines/abapEnvironment/stages/Test.md
  documentation/docs/steps/abapEnvironmentRunATCCheck.md
  documentation/docs/steps/abapEnvironmentRunAUnitTest.md
  pkg/abaputils/abaputils.go
  resources/metadata/abapEnvironmentRunATCCheck.yaml
  resources/metadata/abapEnvironmentRunAUnitTest.yaml
Labels: ABAP

#3420 testing piper forks
  DEVELOPMENT.md
Labels: documentation

#3392 Update abapEnvironmentAddons.md: Unable to update target vectors with unchanged SWC version
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: ABAP

#3433 Update Introduction
  documentation/docs/images/abapPipelineOverview.png
  documentation/docs/images/abapPipelineOverviewFull.png
  documentation/docs/pipelines/abapEnvironment/introduction.md
Labels: documentation, ABAP

#3435 Quote strings in addon.yml
  documentation/docs/scenarios/abapEnvironmentAddons.md
Labels: ABAP
