Repository SAP/jenkins-library, pull requests merged in 2022-03, with the labels that each got.

#3626 Removing deprecated cx-server from doc
  documentation/docs/guidedtour.md
  documentation/docs/infrastructure/customjenkins.md
Labels: documentation

#3599 Response logging
  cmd/abapEnvironmentPushATCSystemConfig.go
  cmd/abapEnvironmentPushATCSystemConfig_test.go
  cmd/abapEnvironmentRunATCCheck.go
Labels: ABAP

#3595 Add bearer token retrieval function
  pkg/xsuaa/xsuaa.go
  pkg/xsuaa/xsuaa_test.go
Labels: feature
