Repository SAP/jenkins-library, pull requests merged in 2022-12, with the labels that each got.

#4143 Corr push atc conf - more consistent error handling
  cmd/abapEnvironmentPushATCSystemConfig.go
Labels: ABAP

#4112 Documentation: Added links to SAP Continuous Integration and Delivery service
  documentation/docs/images/CICD_Piper.png
  documentation/docs/index.md
Labels: documentation

#4164 fix(fortifyExecuteScan): fix project versions api call
  pkg/fortify/fortify.go
  pkg/fortify/fortify_test.go
Labels: Fortify

#4159 Increase docker image version
  cmd/abapEnvironmentCheckoutBranch_generated.go
  cmd/abapEnvironmentCloneGitRepo_generated.go
  cmd/abapEnvironmentCreateSystem_generated.go
  cmd/abapEnvironmentCreateTag_generated.go
  cmd/abapEnvironmentPullGitRepo_generated.go
  cmd/abapEnvironmentPushATCSystemConfig_generated.go
  cmd/abapEnvironmentRunATCCheck_generated.go
  cmd/abapEnvironmentRunAUnitTest_generated.go
  resources/metadata/abapEnvironmentCheckoutBranch.yaml
  resources/metadata/abapEnvironmentCloneGitRepo.yaml
  resources/metadata/abapEnvironmentCreateSystem.yaml
  resources/metadata/abapEnvironmentCreateTag.yaml
  resources/metadata/abapEnvironmentPullGitRepo.yaml
  resources/metadata/abapEnvironmentPushATCSystemConfig.yaml
  resources/metadata/abapEnvironmentRunATCCheck.yaml
  resources/metadata/abapEnvironmentRunAUnitTest.yaml
Labels: ABAP

#4169 Revert "Increase docker image version"
  cmd/abapEnvironmentCheckoutBranch_generated.go
  cmd/abapEnvironmentCloneGitRepo_generated.go
  cmd/abapEnvironmentCreateSystem_generated.go
  cmd/abapEnvironmentCreateTag_generated.go
  cmd/abapEnvironmentPullGitRepo_generated.go
  cmd/abapEnvironmentPushATCSystemConfig_generated.go
  cmd/abapEnvironmentRunATCCheck_generated.go
  cmd/abapEnvironmentRunAUnitTest_generated.go
  resources/metadata/abapEnvironmentCheckoutBranch.yaml
  resources/metadata/abapEnvironmentCloneGitRepo.yaml
  resources/metadata/abapEnvironmentCreateSystem.yaml
  resources/metadata/abapEnvironmentCreateTag.yaml
  resources/metadata/abapEnvironmentPullGitRepo.yaml
  resources/metadata/abapEnvironmentPushATCSystemConfig.yaml
  resources/metadata/abapEnvironmentRunATCCheck.yaml
  resources/metadata/abapEnvironmentRunAUnitTest.yaml
Labels: ABAP
