Repository SAP/jenkins-library, pull requests merged in 2023-02, with the labels that each got.

#4202 Fixed issue with not allowing to update parameter resolveAllDependencies
  pkg/whitesource/configHelper.go
Labels: WhiteSource

#4203 feat(codeql): improving the logic of handling head and merge commit in jenkins
  src/com/sap/piper/GitUtils.groovy
  test/groovy/SetupCommonPipelineEnvironmentTest.groovy
  test/groovy/com/sap/piper/GitUtilsTest.groovy
  vars/setupCommonPipelineEnvironment.groovy
Labels: Codeql

#4220 Variable Dotted Version String fixes
  pkg/abap/aakaas/componentVersion.go
  pkg/abap/aakaas/productVersion.go
  pkg/abap/aakaas/versionables.go
Labels: ABAP

#4199 Fix issue with not generating sarif file when projectName was specified
  cmd/whitesourceExecuteScan.go
  cmd/whitesourceExecuteScan_test.go
Labels: WhiteSource

#4198 Added audit information in Sarif file in detectExecuteStep
  pkg/blackduck/blackduck.go
  pkg/blackduck/blackduck_test.go
  pkg/blackduck/reporting.go
  pkg/blackduck/reporting_test.go
Labels: BlackDuck

#4209 Add parameter for async execution (cfCreateServiceKey)
  cmd/cloudFoundryCreateServiceKey.go
  cmd/cloudFoundryCreateServiceKey_generated.go
  cmd/cloudFoundryCreateServiceKey_test.go
  resources/com.sap.piper/pipeline/abapEnvironmentPipelineDefaults.yml
  resources/metadata/cloudFoundryCreateServiceKey.yaml
Labels: ABAP

#4233 Variable dotted version string fix #2
  pkg/abap/aakaas/componentVersion.go
  pkg/abap/aakaas/productVersion.go
  pkg/abap/aakaas/testData.go
  pkg/abap/aakaas/versionables.go
  pkg/abap/aakaas/versionables_test.go
Labels: ABAP
