Repository SAP/jenkins-library, pull requests merged in 2023-01, with the labels that each got.

#4166 Update whitesource risk-report pattern
  cmd/whitesourceExecuteScan_generated.go
  resources/metadata/whitesourceExecuteScan.yaml
Labels: WhiteSource

#4148 abapEnvironment automatically building the next package
  cmd/abapAddonAssemblyKitCheckCVs.go
  cmd/abapAddonAssemblyKitCheckCVs_test.go
  cmd/abapAddonAssemblyKitCheckPV.go
  cmd/abapAddonAssemblyKitCheckPV_test.go
  pkg/abap/aakaas/componentVersion.go
  pkg/abap/aakaas/componentVersion_test.go
  pkg/abap/aakaas/productVersion.go
  pkg/abap/aakaas/productVersion_test.go
  pkg/abap/aakaas/testData.go
  pkg/abap/aakaas/versionables.go
  pkg/abap/aakaas/versionables_test.go
Labels: ABAP

#3920 Don't unstash the piper binary if it is already present.
  src/com/sap/piper/PiperGoUtils.groovy
  test/groovy/CheckmarxExecuteScanTest.groovy
  test/groovy/GithubPublishReleaseTest.groovy
  test/groovy/KubernetesDeployTest.groovy
  test/groovy/MavenExecuteIntegrationTest.groovy
  test/groovy/MavenExecuteTest.groovy
  test/groovy/NexusUploadTest.groovy
  test/groovy/PiperExecuteBinTest.groovy
  test/groovy/com/sap/piper/PiperGoUtilsTest.groovy
  test/groovy/templates/AbapEnvironmentPipelineStageInitTest.groovy
  vars/piperExecuteBin.groovy
Labels: enhancement, REVIEW

#4194 added info for rapid scan in detectExecution
  documentation/docs/steps/detectExecuteScan.md
Labels: BlackDuck
