Repository SAP/jenkins-library, pull requests merged in 2024-04, with the labels that each got.

#4874 Update helper.go (generator)
  pkg/generator/helper/helper.go
Labels: bug :bug:, REVIEW, go, => :rage3: :fire_engine: :shipit: <=

#4893 AAKaaS holistic pv check
  cmd/abapAddonAssemblyKitCheck.go
  cmd/abapAddonAssemblyKitCheck_generated.go
  cmd/abapAddonAssemblyKitCheck_generated_test.go
  cmd/abapAddonAssemblyKitCheck_test.go
  cmd/metadata_generated.go
  cmd/piper.go
  documentation/docs/steps/abapAddonAssemblyKitCheck.md
  documentation/mkdocs.yml
  pkg/abap/aakaas/aakUtils_mock.go
  pkg/abap/aakaas/productVersionHeader.go
  pkg/abap/aakaas/testData.go
  resources/metadata/abapAddonAssemblyKitCheck.yaml
  test/groovy/CommonStepsTest.groovy
  vars/abapAddonAssemblyKitCheck.groovy
  vars/abapEnvironmentPipelineStageInitialChecks.groovy
Labels: ABAP

#4902 Add execution log
  pkg/abaputils/manageGitRepositoryUtils.go
  pkg/abaputils/manageGitRepositoryUtils_test.go
  pkg/abaputils/sap_com_0510.go
  pkg/abaputils/sap_com_0948.go
  pkg/abaputils/sap_com_0948_test.go
  pkg/abaputils/softwareComponentApiManager.go
Labels: ABAP

#4173 fix(versioning): ensure that version is not empty
  cmd/artifactPrepareVersion.go
Labels: bug :bug:, REVIEW
