Repository SAP/jenkins-library, pull requests merged in 2024-03, with the labels that each got.

#4657 Doc: Add explanation of cvssSeverityLimit in whitesource
  cmd/whitesourceExecuteScan_generated.go
  resources/metadata/whitesourceExecuteScan.yaml
Labels: stale

#4843 AAKaaS originHash
  cmd/abapAddonAssemblyKitCheckCVs.go
  cmd/abapAddonAssemblyKitCheckPV.go
  cmd/abapAddonAssemblyKitCreateTargetVector.go
  cmd/abapAddonAssemblyKitCreateTargetVector_generated.go
  cmd/abapAddonAssemblyKitPublishTargetVector.go
  cmd/abapAddonAssemblyKitPublishTargetVector_generated.go
  cmd/abapAddonAssemblyKitRegisterPackages.go
  cmd/abapAddonAssemblyKitRegisterPackages_generated.go
  cmd/abapAddonAssemblyKitReleasePackages.go
  cmd/abapAddonAssemblyKitReleasePackages_generated.go
  cmd/abapAddonAssemblyKitReserveNextPackages.go
  cmd/abapAddonAssemblyKitReserveNextPackages_generated.go
  pkg/abap/aakaas/targetVector_test.go
  pkg/abap/build/connector.go
  pkg/abap/build/connector_test.go
  pkg/abap/build/mockClient.go
  resources/metadata/abapAddonAssemblyKitCreateTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitPublishTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitRegisterPackages.yaml
  resources/metadata/abapAddonAssemblyKitReleasePackages.yaml
  resources/metadata/abapAddonAssemblyKitReserveNextPackages.yaml
Labels: ABAP

#4859 shorten commits to common length prior compare
  cmd/abapAddonAssemblyKitReserveNextPackages.go
  cmd/abapAddonAssemblyKitReserveNextPackages_test.go
Labels: ABAP

#4857 login via certificates
  pkg/http/http.go
  pkg/http/http_cert_logon_test.go
  pkg/http/http_test.go
Labels: feature, go

#4860 Enable logon to AAKaaS via Certificate (mTLS)
  cmd/abapAddonAssemblyKitCheckCVs.go
  cmd/abapAddonAssemblyKitCheckCVs_generated.go
  cmd/abapAddonAssemblyKitCheckPV.go
  cmd/abapAddonAssemblyKitCheckPV_generated.go
  cmd/abapAddonAssemblyKitCreateTargetVector.go
  cmd/abapAddonAssemblyKitCreateTargetVector_generated.go
  cmd/abapAddonAssemblyKitPublishTargetVector.go
  cmd/abapAddonAssemblyKitPublishTargetVector_generated.go
  cmd/abapAddonAssemblyKitRegisterPackages.go
  cmd/abapAddonAssemblyKitRegisterPackages_generated.go
  cmd/abapAddonAssemblyKitReleasePackages.go
  cmd/abapAddonAssemblyKitReleasePackages_generated.go
  cmd/abapAddonAssemblyKitReserveNextPackages.go
  cmd/abapAddonAssemblyKitReserveNextPackages_generated.go
  pkg/abap/aakaas/targetVector_test.go
  pkg/abap/build/connector.go
  pkg/abap/build/connector_test.go
  resources/metadata/abapAddonAssemblyKitCheckCVs.yaml
  resources/metadata/abapAddonAssemblyKitCheckPV.yaml
  resources/metadata/abapAddonAssemblyKitCreateTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitPublishTargetVector.yaml
  resources/metadata/abapAddonAssemblyKitRegisterPackages.yaml
  resources/metadata/abapAddonAssemblyKitReleasePackages.yaml
  resources/metadata/abapAddonAssemblyKitReserveNextPackages.yaml
  vars/abapAddonAssemblyKitCheckCVs.groovy
  vars/abapAddonAssemblyKitCheckPV.groovy
  vars/abapAddonAssemblyKitCreateTargetVector.groovy
  vars/abapAddonAssemblyKitPublishTargetVector.groovy
  vars/abapAddonAssemblyKitRegisterPackages.groovy
  vars/abapAddonAssemblyKitReleasePackages.groovy
  vars/abapAddonAssemblyKitReserveNextPackages.groovy
Labels: ABAP

#4865 Adapt request body for SAP_COM_0948
  pkg/abaputils/manageGitRepositoryUtils.go
  pkg/abaputils/manageGitRepositoryUtils_test.go
  pkg/abaputils/sap_com_0510.go
Labels: ABAP
