Repository SAP/jenkins-library, pull requests merged in 2024-10, with the labels that each got.

#5121 Adding log download as zip archive
  cmd/abapEnvironmentCheckoutBranch.go
  cmd/abapEnvironmentCheckoutBranch_generated.go
  cmd/abapEnvironmentCheckoutBranch_test.go
  cmd/abapEnvironmentCloneGitRepo.go
  cmd/abapEnvironmentCloneGitRepo_generated.go
  cmd/abapEnvironmentCloneGitRepo_test.go
  cmd/abapEnvironmentCreateTag.go
  cmd/abapEnvironmentCreateTag_test.go
  cmd/abapEnvironmentPullGitRepo.go
  cmd/abapEnvironmentPullGitRepo_generated.go
  cmd/abapEnvironmentPullGitRepo_test.go
  pkg/abaputils/manageGitRepositoryUtils.go
  pkg/abaputils/manageGitRepositoryUtils_test.go
  pkg/abaputils/sap_com_0510.go
  pkg/abaputils/sap_com_0948.go
  pkg/abaputils/sap_com_0948_test.go
  pkg/abaputils/softwareComponentApiManager.go
  resources/com.sap.piper/pipeline/abapEnvironmentPipelineDefaults.yml
  resources/metadata/abapEnvironmentCheckoutBranch.yaml
  resources/metadata/abapEnvironmentCloneGitRepo.yaml
  resources/metadata/abapEnvironmentPullGitRepo.yaml
Labels: ABAP

#5146 fix: add missing return value for error
  pkg/transportrequest/cts/upload.go
  pkg/transportrequest/cts/upload_test.go
Labels: bug :bug:

#5128 Update documentation for scriptArguments param
  cmd/shellExecute_generated.go
  resources/metadata/shellExecute.yaml
Labels: documentation

#5145 WhitesourceExecuteScan Added an option to use Global Config FIle for Multi Module Projects
  cmd/whitesourceExecuteScan.go
  cmd/whitesourceExecuteScan_generated.go
  pkg/whitesource/scanOptions.go
  pkg/whitesource/scanUA.go
  resources/metadata/whitesourceExecuteScan.yaml
Labels: WhiteSource
